.main-section{
	font-family: serif;
	grid-area: sections;
	background-color: pink;

}
.main-doc {
		    font-size: 1.5em;
		   
		    width: 100%;
		    display: grid;
		    grid-template-columns: 250px auto;
		    grid-template-rows: 1fr ;
		    grid-template-areas:
		    "navbar sections";
		  }
.nav{

	background: linear-gradient(180deg, #F9F9F9, #DEE2E4);
	grid-area: navbar;
	padding: 10px 5px 10px 5px;
	text-align: right;


}
.nav-section{
	color: white;
	text-decoration: none;
	padding-right: 30px;

}
.nav-section:hover{
	color: black;
}
.navigate{
	position: fixed;
}
